body,html {
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
ul{
  list-style: none;
}
.app{
  height: 100%;
  width: 100%;
  .flex-page{
    display: flex;
    flex-direction: column;
    height: 100%;
    .flex-section{
      flex: 1;
    }
  }
}
.page{
  height: 100%;
  overflow: hidden;
}
.list-wrap{
    margin: 0 30px;
  }
.group-title{
  color: #444;
  font-weight: 900;
  font-size: 18px;
  padding-top: 20px;
}
.list-item{
  position: relative;
  display: block;
  padding: 12px 20px;
  border-bottom: 1px dashed #ddd;
  overflow: hidden;
  .vux-badge{
    padding: 2px 7px;
    border-radius: 10px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -10px;
  }
}
.item-index{
  padding: 0 8px;
  color: #999;
  font-style: italic;
  font-family: 黑体;
  font-size: 18px;
}
.item-title{
    color: #5f60bd;
    font-weight: 900;
    font-size: 18px;
}
.item-desc{
  color: #999;
  font-size: 16px;
  font-family: 黑体;
}
